<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    @*<style>
        * {
        margin: 0;
        padding: 0;
        }
        </style>*@
</head>
<body class="page">
    <div class="header_layout">
        @*TODO:подвравить все это говно*@
        <div class="header_ico ">
            <a href="@Url.Action("List", "Training")"><img src="~/images/GK_ico.png" class="dumbless" alt="GK"></a>
        </div>
        <div class="header_brand ">
            <a asp-controller="Training" asp-action="List" class="header_brand_text">WORKOUT KEEPER</a>
        </div>
        <div>
            <a asp-controller="CustomTraining" asp-action="Index" class="header_custom">Ваши программы</a>
        </div>
        <div>
            <a asp-controller="Account" asp-action="Login" class="header_custom User_Input">вход</a>
        </div>
    </div>
    <div class="renderdiv">
        @RenderBody()
    </div>
</body>
</html>
